name: Docs Branch

on:
    push:
        branches: [ '**' ]
        paths:
            - 'dokka/**'
            - 'src/main/**'
            - '.github/workflows/docs-branch.yml'

concurrency:
    group: pages-${{ github.ref_name }}
    cancel-in-progress: true

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            deployments: write
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - uses: actions/setup-java@v4
              with:
                  java-version: 21
                  distribution: zulu
                  cache: gradle
            -   name: Build docs
                run: ./gradlew --no-daemon dokkaHtml dokkaJavadoc
            - name: Copy javadoc subfolder
              run: mv build/dokka/javadoc build/dokka/html/ && cp dokka/includes/404.html build/dokka/html/
            - uses: actions/upload-pages-artifact@v1
              with:
                  path: 'build/dokka/html'
            - uses: cloudflare/pages-action@v1
              with:
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                  projectName: ${{ vars.CLOUDFLARE_PROJECT_NAME }}
                  directory: build/dokka/html
                  branch: ${{ github.ref_name }}
                  gitHubToken: ${{ secrets.GITHUB_TOKEN }}
